$gray: rgb(53, 56, 59);
$red: rgb(255, 66, 110);
$white: rgb(245, 245, 245);

$font-sm: 14px;
$font-med: 18px;

$font-homesearch: 16px;
$font-eventbnt: 20px;
$font-smalltitle: 26px;
$font-eventtitle: 50px;
$font-bigtitle: 80px;
