@inject Microsoft.JSInterop.IJSRuntime JS;
@code {

    protected override void OnInitialized()
    {
        GenerateList();
    }

    async Task GenerateList()
    {
        await GIF_GIftIdeaForum.Jobs.GiftLister.DisplayItems(JS);
    }
}

<div>
    <button @onclick="GenerateList">Show Next Fifteen</button>
</div>