@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GIF - Gift Idea Forum</h1>
    <p>Your open forum page for gifts for anytime</p>





</div>
