@page
@model GIF_GIftIdeaForum.Pages.GiftsPageModel
@{
    ViewData["Title"] = "Home page";
}
<!--
    Last Update: 01/16/2021

    Important notes:
        - make sure everything is neumorphic
        - width usually fucks things up (for i just suck at html)

    To do:
        - brush up on font styles: Need to talk
        - custom scroll: DONE
        - modal regitration form: Animation?
            -fix up the button center: DONE
        - fix search bar: fuck off
        - adaptive nav bar
            - should there be an overhang?
        - light/dark theme by using a animated switch button
        - dynamic button
        - filtration search
        - social media accounts
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Responsive GIF</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--have yet to differentiate which font goes for which elements-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <nav class="flex flex-jc-sb flex-ai-c">
            <a href="#GIFhomepage" class="header__logo">
                <img src="images/logo.svg" alt="GIF" />
            </a>

            <a id="mobilebtn" href="" class="header__menu hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </a>

            <!--https://www.homeandlearn.co.uk/WD/wds5pA.html-->
            <div class="header__links hide-for-mobile">
                <a href="#GIFhomepage">Home</a>
                <a href="#GIFeventpage">Explore</a>
                <a href="">Search</a>
            </div>

            <!--make an account
            https://www.w3schools.com/howto/howto_css_signup_form.asp
            https://webdevtrick.com/neumorphism-login-register-fo   rm/
            have a pop up sign in/up form
            neumorphic of course
            -->
            <a role="button" class="hide-for-mobile" id="modalBtn">Sign In/Up</a>

            <div id="modalWindow" class="modal">
                <div class="modal__content flex flex-jc-sa flex-ai-c">
                    <div class="AccountContainer LogInAccount">
                        <h2>Log Into Website</h2>
                        <div class="ModalIcons">
                            <img class="ModalIcons__icons" src="~/Images/facebook logo.svg" alt="facebook" />
                            <img class="ModalIcons__icons" src="~/Images/google logo.svg" alt="google" />
                            <img class="ModalIcons__icons" src="~/Images/twitter logo.svg" alt="twitter" />
                        </div>

                        <p class="AccountContainer__para">Or log in with email</p>
                        <input class="AccountContainer__input" type="text" placeholder="Email">
                        <input class="AccountContainer__input" type="password" placeholder="Password">
                        <button class="AccountContainer__button">LOG IN</button>
                    </div>

                    <div class="AccountContainer CreateAccount">
                        <h2>Create Account</h2>
                        <div class="ModalIcons">
                            <img class="ModalIcons__icons" src="~/Images/facebook logo.svg" alt="facebook" />
                            <img class="ModalIcons__icons" src="~/Images/google logo.svg" alt="google" />
                            <img class="ModalIcons__icons" src="~/Images/twitter logo.svg" alt="twitter" />
                        </div>

                        <p class="AccountContainer__para">Or sign up with email</p>
                        <input class="AccountContainer__input" type="text" placeholder="User Name" />
                        <input class="AccountContainer__input" type="text" placeholder="Email">
                        <input class="AccountContainer__input" type="password" placeholder="Password">
                        <button class="AccountContainer__button">SIGN UP</button>
                    </div>
                </div>
            </div>

            <!--Dark/Light theme
            <div class="ThemeButton" id="ThemeToggle">
                <input type="checkbox">
                <span></span>
            </div>

            -->
        </nav>
    </header>

    <main>
        <div id="GIFhomepage" class="HomePage">
            <h1 href="#GIFhomepage" class="Bigtitle">GIF</h1>
            <h3 class="Smalltitle">Gift Idea Forum</h3>
            <p>blah</p>

            <!--MAKE IT ADAPTIVE
            <div class="HomeSearchDivision">
                <input type="text" class="HomeSearch" placeholder="Search" />
            </div>
            -->

            <section id="downbutt" class="scrollbutt">
                <a href="#GIFeventpage"><span></span></a>
            </section>
        </div>

        <div id="GIFeventpage" class="EventPage">
            <h1 class="Eventtitle">Trending Ideas</h1>
            <!--site to read || dynamic event handlers
                https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/search?view=aspnetcore-5.0
                https://stackoverflow.com/questions/7713242/asp-net-dynamically-button-with-event-handler
                https://docs.microsoft.com/en-us/previous-versions/kyt0fzt1(v=vs.140)?redirectedfrom=MSDN
                https://www.codeproject.com/Questions/252481/Dynamically-created-button-in-asp-net-and-csharp
            -->
            <!--search bar
            <div class="SubSearchDivision">
                <input type="text" class="SubSearch" placeholder="Search" />
            </div>
            -->
            <div class="SubpageButtons">
                <!--https://almostinevitable.com/divi-tutorial-center-align-multiple-buttons/-->
                <form asp-page-handler="GoToSubPage" method="post">
                    <!--https://www.w3schools.com/tags/att_form_method.asp-->
                    <!--takes 6 slots before next line-->
                    <!--for the moblie version, wonder if there should be a limit shown-->
                    <button value="Christmas Day" class="Eventbutton" style="vertical-align:middle"><span>Christmas Day</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>His Birthday</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Her Birthday</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>His Valentine</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Her Valentine</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                    <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer flex flex-jc-sb flex-ai-c">
        <div class="FirstFootContainer">
            <a href="#GIFhomepage" class="footer__logo">
                <img src="~/Images/gif logo.svg" alt="GIF" />
            </a>
            <div class="FootLinks">
                <a href="#GIFhomepage">Home</a>
                <a href="#GIFeventpage">Explore</a>
                <a href="https://github.com/JoshuaLim007/Gif---Gift-Idea-Forum">Blog</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
                <a href="#">Support</a>
            </div>
        </div>
        <div class="SecondFoodContainer">
            <div class="Footer_links">
                <a href="https://github.com/JoshuaLim007/Gif---Gift-Idea-Forum">
                    <img class="Footer_links__icon" src="~/Images/github logo.svg" alt="github">
                </a>
                <a href="">
                    <img class="Footer_links__icon" src="~/Images/facebook logo.svg" alt="facebook">
                </a>
                <a href="">
                    <img class="Footer_links__icon" src="~/Images/twitter logo.svg" alt="twitter">
                </a>
                <a href="">
                    <img class="Footer_links__icon" src="~/Images/google logo.svg" alt="google">
                </a>
            </div>
            <a href="#">Copyright © 2020-2021</a>
            <p>by GIF. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="~/js/site.js"></script>
</body>
</html>