@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>GIF - Gift Idea Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
    </style>
</head>

<body>
    <div id="GIFhomepage">
        <h1 class="Bigtitle">GIF</h1>
        <h3 class="Smalltitle">Gift Idea Forum</h3>
        <div class="HomeSearchDivision">
            <input type="text" class="HomeSearch" placeholder="Search" />
        </div>
        <a href="#GIFeventpage" class="scrollbutt">
            <img src="/Images/click scroll icon2.png" width="50" height="50">
        </a>
    </div>
    <div id="GIFeventpage">
        <h1 class="Eventtitle">Events</h1>
        <form>
            <input />
        </form>
        <button class="Eventbutton"style="vertical-align:middle"><span>Event Button</span></button>
    </div>
</body>
</html>