@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>GIF - Gift Idea Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
    </style>
</head>

<body>
    <div id="GIFhomepage">
        <h1 class="Bigtitle">GIF</h1>
        <h3 class="Smalltitle">Gift Idea Forum</h3>
        <div class="HomeSearchDivision">
            <input type="text" class="HomeSearch" placeholder="Search" />
        </div>
        <a href="#GIFeventpage" class="scrollbutt">
            <img src="/Images/click scroll icon2.png" width="50" height="50">
        </a>
    </div>
    <div id="GIFeventpage">
        <h1 class="Eventtitle">Events</h1>
        <!--https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/search?view=aspnetcore-5.0-->
        <div class="SubSearchDivision">
            <input type="text" class="SubSearch" placeholder="Search" />
        </div>
        <div class="SubpageButtons">
            <!--https://almostinevitable.com/divi-tutorial-center-align-multiple-buttons/-->
            <form asp-page-handler="GoToSubPage" method="post">
                <!--takes 8 slots before next line-->
                <button value="Christmas Day" class="Eventbutton" style="vertical-align:middle"><span>Christmas Day</span></button>
                <button class="Eventbutton" style="vertical-align:middle"><span>His Birthday</span></button>
                <button class="Eventbutton" style="vertical-align:middle"><span>Her Birthday</span></button>
                <button class="Eventbutton" style="vertical-align:middle"><span>His Valentine</span></button>
                <button class="Eventbutton" style="vertical-align:middle"><span>Her Valentine</span></button>
                <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
                <button class="Eventbutton" style="vertical-align:middle"><span>Event Button</span></button>
            </form>
        </div>
    </div>
</body>
</html>